body {
    font-family: sans-serif;
    margin: 0;
  }
  
  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    background-color: #E3D3D2;
  }
  .app {
    /* display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 50px 50px repeat(5, 1fr); */
  }
  .app-header{
    margin: 30px;
    font-size: 23px;
    width: 100%;
  }